
.common__section{
    background-size: cover;
    background-image: url("../assets/images/galaxyback1.jpg");
    opacity: 0.9;
    background-repeat: no-repeat ;
    background-position: center;
    background:linear-gradient(rgba(0, 0, 0, 0.582) rgba(0, 0, 0, 0.582));
    padding: 100px 0px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.common__section h1{
    color: #f6f2f2;
    font-weight: 800;
}

@media only screen and (max-width:768){
    .common__section{
        padding: 75px 0px;
    }

    .common__section h1{
        font-size: 1.4rem;
    }
}