
.box{
    padding: 20px;
    border-radius: 5px;
}

.box h5{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.box span{
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.revenue__box{
    background: var(--card-bg-01);
}
.order__box{
    background: var(--card-bg-03);
}
.products__box{
    background: var(--card-bg-04);
}
.user__box{
    background: var(--card-bg-03);
}